<h2>Todo List</h2>

<% if alert %>
  <%= alert %>
  <br>
<% end %>
<br>

<%= form_with scope: :todo, url: todos_path do |form| %>
  <%= form.text_field :description, placeholder: 'Description' %>
  <%= form.submit 'Add' %>
<% end %>

<br>
<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.description %></td>
      <td><%= check_box_tag todo.status %></td>
      <td><%= link_to 'Remove', todo_path(todo),
        method: :delete,
        data: { confim: 'Are you sure?' }%>
      </td>
    </tr>
  <% end %>
</table>
